:root {
  --orange: orangered;
  --black: #111;
  --black-fade: #1119;
  --black-fade-light: #121212df;
  --black-shine: radial-gradient(#121212, #122);
  --white-fade: #fbfdfb99;
  --white: #fbfdfe;
  --light-pink: #faf;
  --light-green: #4fa;
  --light-blue: #4cf;
  --light-purple: #9af;
  --crimson: crimson;
  --silver: #c0c0c0;
  --golden: goldenrod;
  --gold: gold;
  --golden_highlight: rgba(184, 142, 35, 0.9);
  --golden_fade: var(--orange);
  --brown: rgba(114, 87, 18, 0.9);
  
  --outline_gold_inset: 2px inset var(--golden);
  --border_gold_outset: 2px outset var(--gold);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style-type: none;
  user-select: none;
}

body {
  overflow: hidden;
}

.underlay {
  background-color: #111111ef;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.main_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2.5rem;
  min-width: 320px;
  max-width: 600px;
  outline: var(--outline_gold_inset);
  outline-offset: 2px;
  border: var(--border_gold_outset);
  border-radius: 3px;
  background-color: var(--black);
  box-shadow: 0px 12px 32px var(--black);
}

.menu.lobby {
  min-width: 600px;
}

.sidebar_container {
  position: absolute;
  top: 68px;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: var(--black);
  box-shadow: 1px 4px 4px black;
}

.keeper_section {
  color: var(--light-green);
}

.goal_section {
  color: var(--light-pink);
}

.rule_section {
  color: var(--gold);
}

.action_section {
  color: var(--light-blue);
}

.counter_section {
  color: var(--light-purple);
}

.maintype_li {
  padding: 1rem 1rem 0 1rem;
}

.subtype_li.selected,
.maintype_li.selected {
  border-right: 2px solid white;
}

.subtype_li {
  padding: 0.25rem 2rem;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 80vh;
  max-height: 80vh;
  padding: 1rem 1rem;
  box-shadow: 0px 2px 8px black;
  border-radius: 32px 0 0 32px;
}

.card_picker::-webkit-scrollbar,
.catalog::-webkit-scrollbar {
  background-color: #000;
  width: 0.25rem;
}

.card_picker::-webkit-scrollbar-thumb,
.catalog::-webkit-scrollbar-thumb {
  background-color: var(--golden_highlight);
}

.menu_link {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--orange);
  border-radius: 25px;
  text-align: center;
}

.room_link {
  background-color: var(--golden_highlight);
  border-radius: 6px;
  border: 2px solid white;
  text-align: center;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lobby_link {
  padding: 0.5rem 2rem;
  color: white;
  background-color: var(--golden_fade);
  border: 2px solid var(--white);
  border-radius: 32px;
  text-align: center;
}

.lobby_link.disabled {
  background-color: #0000;
}

.maintype_li:hover,
.subtype_li:hover,
button:not(.disabled):hover,
a:hover,
.menu_link:hover,
.lobby_link:hover,
.room_link:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.username_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_container__inner {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form_label {
  padding: 0;
}

.form_input {
  padding: 0 0.5rem;
  border-radius: 6px;
}

.stat_list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.stat_list li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

.stat_list li:hover {
  background-color: var(--golden_highlight);
}

.li_header {
  margin-bottom: 0.5rem;
}

.text_sm {
  font-size: 8px;
}

.lobby_header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  gap: 2.5rem;
  padding: 0 3rem;
  background-color: #001;
  border-bottom: 1px solid brown;
  width: 100%;
  height: 66px;
  box-shadow: 0px 0px 12px black;
}

.header_title {
  color: yellow;
  -webkit-text-stroke: 1.5px #222;
}

.header_btn {
  min-height: 100%;
  background-color: #0000;
  color: limegreen;
  border-left: 1px solid brown;
  border-right: 1px solid brown;
  padding: 0 2rem;
}

.header_btn.selected {
  background-color: brown;
  color: yellow;
}

.lobby_player {
  display: flex;
  gap: 2rem;
}

.refresh_btn__container {
  display: flex;
  justify-content: flex-end;
  height: 0px;
}

.refresh_btn {
  background: url('./assets/refresh.png');
  background-size: contain;
  width: 25px;
  height: 25px;
  background-color: springgreen;
  border-radius: 50%;
  transform: translate(30px, -15px);
}

.refresh_btn.disabled {
  background-color: crimson;
  animation: spin 1s infinite linear;
}

.game_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_user__this_user {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
}

/* .goal {
  width: 209px;
  height: 309px;
  background-color: #faf;
} */

.account_options {
  justify-content: space-between;
  min-height: 592px;
}

.user_bars__container {
  position: absolute;
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.user_bar {
  padding: 0.5rem 2rem;
  background-color: #1119;
  border-radius: 0px 6px 6px 0px;
}

.user_bar.highlight {
  background-color: var(--golden_highlight);
}

.user_bar.selected {
  outline: 2px dashed var(--white);
}

.user_bar__uid {
  font-size: 0.8em;
}

.rules_container {
  background-color: #1119;
  position: absolute;
  bottom: 3px;
  left: -10px;
  padding: 0.5rem 2.5rem;
}

.hand_container {
  display: flex;
  padding: 0 35%;
  position: absolute;
  bottom: 1rem; 
  width: 100vw;
  height: 190px;
}

.hand_container .card:not(.card:first-child) {
  transform: translate(-50%);
}

.deck_card {
  position: absolute;
  left: 50px;
  top: 50px;
  box-shadow: 4px 4px 12px black !important;
}

.card_picker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
}

.card_picker .card__mini {
  width: 150px;
  height: 75px;
}

.card {
  display: flex;
  max-width: 240px;
  max-height: 309px;
  min-width: 240px;
  min-height: 309px;
  width: 240px;
  height: 309px;
  border-radius: 9px;
  box-shadow: 0px 3px 12px black;
  background-color: var(--black);
}

.card.btrim {
  outline: 1px solid var(--brown);
}

.card.strim {
  outline: 2px outset var(--silver);
}

.card.gtrim {
  outline: 3px outset var(--golden_highlight);
}

.card.twilight {
  background: linear-gradient(-134deg, var(--black) 40%, #214);
}

.card.goal_selected {
  outline: 2px dashed var(--light-pink);
}


.card__mini.rule .side_card_header__background,
.card__mini.rule .card_header__background,
.card.rule .card_header__background {
  background-color: var(--gold);
}

.card.rule h3,
.card.rule h2 {
  color: var(--gold);
}

.card.rule hr {
  border-color: var(--gold);
}

.card__mini.keeper .card_header__background,
.card.keeper .card_header__background {
  background-color: var(--light-green);
}

.card.keeper h3,
.card.keeper h2 {
  color: var(--light-green);
}

.card.keeper hr {
  border-color: var(--light-green);
}

.card__mini.creeper .side_card_header__background,
.card__mini.creeper .card__header__background,
.card.creeper .card_header__background {
  background-color: #fff;
}

.card__mini.goal .side_card_header__background,
.card__mini.goal .card_header__background,
.card.goal .card_header__background {
  background-color: var(--light-pink);
}

.card.goal h3,
.card.goal h2 {
  color: var(--light-pink);
}

.card.goal hr {
  border-color: var(--light-pink);
}

.card__mini.action .card_header__background,
.card__mini.action .side_card_header__background,
.card.action .card_header__background {
  background-color: var(--light-blue);
}

.card.action h3,
.card.action h2 {
  color: var(--light-blue);
}

.card.action hr {
  border-color: var(--light-blue);
}

.card__mini.counter .card_header__background,
.card__mini.counter .side_card_header__background,
.card.counter .card_header__background {
  background-color: var(--light-purple);
}

.card.counter h3, 
.card.counter h2 {
  color: var(--light-purple);
}

.card.counter hr {
  border-color: var(--light-purple);
}

.card p {
  font-size: 0.8em;
}

.player_1_keepers .card__mini,
.player_2_keepers .card__mini {
  width: 75px;
  height: 150px;
}

.player_3_keepers .card__mini,
.player_4_keepers .card__mini {
  width: 150px;
  height: 75px;
}

.card__mini * {
  font-size: 0.9em;
}

.card__mini {
  display: flex;
  background-color: var(--black);
  border-radius: 9px;
  filter: drop-shadow(0px 0px 2px var(--light-green));
}

.card__mini.selected {
  outline: 2px dashed var(--light-green);
}

.side_card__mini {
  flex-direction: column;
  align-items: center;
}

.popup {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 800px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -300px;;
  padding: 1rem;
  background-color: var(--black-fade-light);
  box-shadow: 0px 12px 32px black;
  border-radius: 6px;
  border: var(--border_gold_outset);
  outline: var(--outline_gold_inset);
}

.box_border {
  border-radius: 6px;
  border: var(--border_gold_outset);
  outline: var(--outline_gold_inset);
}

.card_container__inner_left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3rem;
}

.card__mini .card_container__inner_left {
  width: 2rem;
  letter-spacing: normal;
}

.side_card_container__inner_left {
  width: 80%;
  margin-top: 0.3rem;
}

.card_container__inner_right {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 0.25rem;
}

.card_header__background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  background-color: var(--white);
  margin: 1rem 0;
  border-radius: 3px;
}

.side_card_header__background {
  background-color: var(--light-green);
  border-radius: 3px;
}

.card_header__text {
  color: var(--black);
  transform: rotateZ(270deg);
  letter-spacing: 1px;
}

.side_card_header__text {
  color: black;
  transform: rotateZ(0);
  text-align: center;
}

.card_hr__thin {
  border: 1px solid var(--white);
  width: 100%;
}

.card_hr__thick {
  border: 2px solid var(--white);
}

.full_width {
  width: 100%;
}

.card_back {
  background-color: var(--black);
  border: 5px solid white;
}

.card_back__title {
  font-size: 42px !important;
  font-weight: bold;
  color: yellow;
  transform: translate(-30%, 25%) rotateZ(45deg);
}

.card_fade {
  opacity: 60%;
}

.play_btn_group__card {
  display: flex;
  gap: 15rem;
}

.play_btn_group__card.length_3 {
  gap: 0rem;
}

.play_btn__card {
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: white;
  background-color: var(--golden_highlight);
  border: 2px solid var(--white);
  border-radius: 32px 0 0 32px;
  text-align: center;
}

.play_btn__card.warning {
  background-color: var(--crimson);
}

.play_btn__card.flipped {
  border-radius: 0 32px 32px 0;
}

.challenge_btn__card {
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: white;
  background-color: var(--orange);
  border: 2px solid var(--white);
  border-radius: 0px 0 0 0px;
  text-align: center;
}

.discard_btn__card {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--crimson);
  border: 2px solid var(--white);
  border-radius: 0px 32px 32px 0px;
  text-align: center;
}

.endturn_btn_container {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -60px;
  right: 0px;
  padding: 1rem 6rem 1rem 1rem;
}

.endturn_btn {
  position: absolute;
  right: 0px;
  padding: 1rem 6rem 1rem 1rem;
  color: white;
  border-radius: 6px 0px 0px 6px;
  outline: 2px solid white;
  outline-offset: 2px;
  background-color: var(--golden_highlight);
  transition: padding 0.75s ease-in-out;
}

.menu_link.disabled,
.lobby_link.disabled,
.play_btn__card.disabled,
.discard_btn__card.disabled,
.challenge_btn__card.disabled,
.endturn_btn.disabled {
  background-color: #1119;
  opacity: 50%;
  padding-right: 1rem;
  cursor: not-allowed;
}

.location_btn:not(.highlight) {
  box-shadow: 0px 2px 4px black;
  border-radius: 25px;
  border: 1px solid white !important;
  background-color: var(--golden_highlight);
  cursor: pointer;
}

.location_btn.disabled {
  background-color: var(--black-fade);
}

.location_tooltip__btn {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: #123f;
  font-size: 12px;
  padding: 0.1rem 0.5rem;
  border: 1px solid var(--black);
  box-shadow: 0px 1px 1px black;
  border-radius: 50%;
}

.location_tooltip__text {
  position: absolute;
  top: 0;
  white-space: nowrap;
  padding: 0 1rem;
  background-color: #1238;
  box-shadow: inset 0px 1px 32px black;
}

.duel_group {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.duel_group__middle {
  align-self: center;
}

.flex_j {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: space-around;
}

.duel_group_middle,
.duel_group__right,
.duel_group__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.errors_container {
  opacity: 0%;
  animation: rise 3s linear 1;
  background-color: #fafcfeb0;
  padding: 0.25rem;
  box-shadow: 0px 3px 12px black;
}

.errors_container__play {
  position: absolute;
  top: 70%;
  left: 1rem;
}

.errors_container__discard {
  position: absolute;
  top: 70%;
  right: 0.5rem;
}

.errors_message {
  color: var(--crimson);
}

@keyframes rise {
  from {
    transform: translateY(0px);
    opacity: 100%;
  }
  to {
    transform: translateY(-50px);
    opacity: 10%;
  }
}

.pending {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -100px;
  animation: putdown 0.2s linear 1;
}

@keyframes putdown {
  from {
    transform: translateY(-250px) scale(1.5);
    opacity: 10%;
  }

  to {
    transform: scale(1);
    opacity: 100%;
  }
}

@keyframes spin {
  from {
    transform: translate(30px, -15px) rotateZ(0deg);
  }
  to {
    transform: translate(30px, -15px) rotateZ(360deg);
  }
}

.counter_p {
  display: block;
  margin-top: 0.5rem;
}

.card.previous_pending::before {
  position: absolute;
  content: "Last Played";
  top: -65px;
  font-size: 32px;
}

.card.previous_pending {
  position: absolute;
  left: 130px;
  bottom: 200px;
  transform: scale(0.5);
}

.hand_card {
  transition: transform ease-out 0.2s;
}

.rules_container .rule {
  border: 2px dashed #0000;
  padding: 0.1rem 1rem;
}

.rule.highlight {
  border: 2px dashed var(--golden_highlight);
}

.mini_hand_card {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 40px;
  background-color: var(--black);
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0px 0px 4px black;
}

.ready_mark {
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 1rem;
  transform: translateY(5px);
}

.check {
  background: url("./assets/check.png");
}

.cross {
  background: url("./assets//close.png");
}

.living_subtype {
  background: url("./assets/living_subtype.png");
  background-size: contain;
}

.rune_subtype {
  background: url("./assets/rune_subtype.png");
  background-size: cover;
}

.equipment_subtype {
  background: url("./assets/equipment_subtype.png");
  background-size: cover;
}

.icon {
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 1rem;
}

.card_subtype {
  transform: translate(15px);
  margin: 0;
}

.icon_picker {
  display: flex;
  gap: 1rem;
}

.icon_pick {
  padding: 0.5rem 0;
  border: 1px solid white;
  background-color: #111;
}

.card_image {
  z-index: 0;
  margin-top: 2rem;
  transform: translate(50px, 0px);
  width: 50px;
  height: 50px;
}

.mini_card_image {
  margin-top: 2rem;
  width: 25px;
  height: 25px;
}

.mini_card_image.sideways {
  transform: translate(0, -25px);
}

.mind_rune {
  background: url("./assets/mind_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.chaos_rune {
  background: url("./assets/chaos_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.air_rune {
  background: url("./assets/air_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.water_rune {
  background: url("./assets/water_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.earth_rune {
  background: url("./assets/earth_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.fire_rune {
  background: url("./assets/fire_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.law_rune {
  background: url("./assets/law_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nature_rune {
  background: url("./assets/nature_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cosmic_rune {
  background: url("./assets/cosmic_rune.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ghostspeak_amulet {
  background: url("./assets/ghostspeak.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.anti_dragonfire_shield {
  background: url("./assets/antifire_shield.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.air_staff {
  background: url("./assets/air_staff.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.rune_crossbow {
  background: url("./assets/rune_crossbow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.avas_attractor {
  background: url("./assets/avas_acc.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.draman_staff {
  background: url("./assets/draman_staff.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.rune_scimitar {
  background: url("./assets/rune_scimitar.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cake {
  background: url("./assets/cake.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.anti_poison {
  background: url("./assets/anti_poison.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.elvarg {
  background: url("./assets/elvarg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.poison {
  background: url("./assets/poisoned.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.wizard_mind_bomb {
  background: url("./assets/wizard_bomb.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ernest {
  background: url("./assets/ernest.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost {
  background: url("./assets/ghost.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.duke_horacio {
  background: url("./assets/duke_h.png");
  background-size: contain;
  background-repeat: no-repeat;
} 

.father_aereck {
  background: url("./assets/father_aereck.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cook {
  background: url("./assets/cook.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.drunken_dwarf {
  background: url("./assets/drunk_dwarf.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.archmage_sedridor {
  background: url("./assets/archmage_sedridor.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.king_roald {
  background: url("./assets/king_roald.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ava {
  background: url("./assets/ava.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.vampyre_juvinate {
  background: url("./assets/feral_vampyre.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.goblin {
  background: url("./assets/goblin.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.imp {
  background: url("./assets/imp.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.aris_maye {
  background: url("./assets/aris_maye.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.reldo {
  background: url("./assets/reldo.png");
  background-size: contain;
  background-repeat: no-repeat;
}