:root {
  --orange: orangered;
  --black: #111;
  --black-fade: #1119;
  --black-fade-light: #121212df;
  --white-fade: #fbfdfb99;
  --white: #fbfdfe;
  --light-pink: #faf;
  --light-green: #4fa;
  --light-blue: #4cf;
  --light-purple: #9af;
  --crimson: crimson;
  --golden: goldenrod;
  --gold: gold;
  --golden_highlight: rgba(184, 142, 35, 0.9);
  
  --outline_gold_inset: 2px inset var(--golden);
  --border_gold_outset: 2px outset var(--gold);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style-type: none;
  user-select: none;
}

body {
  overflow-x: hidden;
}

.underlay {
  background-color: #111111ef;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.main_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2.5rem;
  min-width: 320px;
  outline: var(--outline_gold_inset);
  outline-offset: 2px;
  border: var(--border_gold_outset);
  border-radius: 3px;
  background-color: var(--black);
  box-shadow: 0px 12px 32px var(--black);
}

.menu_link {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--orange);
  border-radius: 25px;
  text-align: center;
}

button:not(.disabled):hover,
a:hover,
.menu_link:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.form_container__inner {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form_label {
  padding: 0;
}

.form_input {
  padding: 0 0.5rem;
  border-radius: 6px;
}

.game_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_user__this_user {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* .goal {
  width: 209px;
  height: 309px;
  background-color: #faf;
} */

.user_bars__container {
  position: absolute;
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.user_bar {
  padding: 0.5rem 2.5rem;
  background-color: #1119;
  border-radius: 0px 6px 6px 0px;
}

.user_bar.highlight {
  background-color: var(--golden_highlight);
}

.user_bar.selected {
  outline: 2px dashed var(--white);
}

.user_bar__uid {
  font-size: 0.8em;
}

.rules_container {
  background-color: #1119;
  position: absolute;
  bottom: 3px;
  left: -10px;
  padding: 0.5rem 2.5rem;
}

.hand_container {
  display: flex;
  padding: 0 35%;
  position: absolute;
  bottom: 1rem; 
  width: 100vw;
}

.hand_container .card:not(.card:first-child) {
  transform: translate(-50%);
}

.deck_card {
  position: absolute;
  left: 50px;
  top: 50px;
  box-shadow: 4px 4px 12px black !important;
}

.card {
  display: flex;
  max-width: 240px;
  max-height: 309px;
  min-width: 240px;
  min-height: 309px;
  width: 240px;
  height: 309px;
  border-radius: 9px;
  box-shadow: 0px 3px 12px black;
  background-color: var(--black);
}

.card.rule .card_header__background {
  background-color: var(--gold);
}

.card.rule h3,
.card.rule h2 {
  color: var(--gold);
}

.card.rule hr {
  border-color: var(--gold);
}

.card__mini .card_header__background,
.card.keeper .card_header__background {
  background-color: var(--light-green);
}

.card.keeper h3,
.card.keeper h2 {
  color: var(--light-green);
}

.card.keeper hr {
  border-color: var(--light-green);
}

.card.goal .card_header__background {
  background-color: var(--light-pink);
}

.card.goal h3,
.card.goal h2 {
  color: var(--light-pink);
}

.card.goal hr {
  border-color: var(--light-pink);
}

.card.action .card_header__background {
  background-color: var(--light-blue);
}

.card.action h3,
.card.action h2 {
  color: var(--light-blue);
}

.card.action hr {
  border-color: var(--light-blue);
}

.card.counter .card_header__background {
  background-color: var(--light-purple);
}

.card.counter h3, 
.card.counter h2 {
  color: var(--light-purple);
}

.card.counter hr {
  border-color: var(--light-purple);
}

.card p {
  font-size: 0.8em;
}

.player_1_keepers .card__mini,
.player_2_keepers .card__mini {
  width: 75px;
  height: 150px;
}

.player_3_keepers .card__mini,
.player_4_keepers .card__mini {
  width: 150px;
  height: 75px;
}

.card__mini * {
  font-size: 0.9em;
}

.card__mini {
  display: flex;
  background-color: var(--black);
  border-radius: 9px;
  filter: drop-shadow(0px 0px 2px var(--light-green));
}

.card__mini.selected {
  outline: 2px dashed var(--light-green);
}

.side_card__mini {
  flex-direction: column;
  align-items: center;
}

.popup {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 800px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -300px;;
  padding: 1rem;
  background-color: var(--black-fade-light);
  box-shadow: 0px 12px 32px black;
  border-radius: 6px;
  border: var(--border_gold_outset);
  outline: var(--outline_gold_inset);
}

.box_border {
  border-radius: 6px;
  border: var(--border_gold_outset);
  outline: var(--outline_gold_inset);
}

.card_container__inner_left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3rem;
}

.card__mini .card_container__inner_left {
  width: 2rem;
  letter-spacing: normal;
}

.side_card_container__inner_left {
  width: 80%;
  margin-top: 0.3rem;
}

.card_container__inner_right {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 0.25rem;
}

.card_header__background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  background-color: var(--white);
  margin: 1rem 0;
  border-radius: 3px;
}

.side_card_header__background {
  background-color: var(--light-green);
  border-radius: 3px;
}

.card_header__text {
  color: var(--black);
  transform: rotateZ(270deg);
  letter-spacing: 1px;
}

.side_card_header__text {
  color: black;
  transform: rotateZ(0);
  text-align: center;
}

.card_hr__thick {
  border: 2px solid var(--white);
}

.card_back {
  background-color: var(--black);
  border: 5px solid white;
}

.play_btn_group__card {
  display: flex;
  gap: 15rem;
}

.play_btn__card {
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: white;
  background-color: var(--golden_highlight);
  border: 2px solid var(--white);
  border-radius: 32px 0 0 32px;
  text-align: center;
}

.discard_btn__card {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--crimson);
  border: 2px solid var(--white);
  border-radius: 0px 32px 32px 0px;
  text-align: center;
}

.endturn_btn_container {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -60px;
  right: 0px;
  padding: 1rem 6rem 1rem 1rem;
}

.endturn_btn {
  position: absolute;
  right: 0px;
  padding: 1rem 6rem 1rem 1rem;
  color: white;
  border-radius: 6px 0px 0px 6px;
  outline: 2px solid white;
  outline-offset: 2px;
  background-color: var(--golden_highlight);
  transition: padding 0.75s ease-in-out;
}

.play_btn__card.disabled,
.discard_btn__card.disabled,
.endturn_btn.disabled {
  background-color: #1119;
  opacity: 50%;
  padding-right: 1rem;
  cursor: not-allowed;
}

.errors_container {
  opacity: 0%;
  animation: rise 2s linear 1;
  background-color: #fafcfeb0;
  padding: 0.25rem;
  box-shadow: 0px 3px 12px black;
}

.errors_container__play {
  position: absolute;
  top: 70%;
  left: 1rem;
}

.errors_container__discard {
  position: absolute;
  top: 70%;
  right: 0.5rem;
}

.errors_message {
  color: var(--crimson);
}

@keyframes rise {
  from {
    transform: translateY(0px);
    opacity: 100%;
  }
  to {
    transform: translateY(-50px);
    opacity: 10%;
  }
}

.pending {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -100px;
  animation: putdown 0.2s linear 1;
}

@keyframes putdown {
  from {
    transform: translateY(-250px) scale(1.5);
    opacity: 10%;
  }

  to {
    transform: scale(1);
    opacity: 100%;
  }
}

.hand_card {
  transition: transform ease-out 0.2s;
}

.rule {
  border: 2px dashed #0000;
  padding: 0.1rem 1rem;
}

.rule.highlight {
  border: 2px dashed var(--golden_highlight);
}