:root {
  --orange: orangered;
  --black: #111;
  --white: #fbfdfe;
  --light-pink: #faf;
  --light-green: #4fa;
  --light-blue: #4cf;
  --light-purple: #9af;
  --golden: goldenrod;
  --gold: gold;
  --golden_highlight: rgba(184, 142, 35, 0.9);
  
  --outline_gold_inset: 2px inset var(--golden);
  --border_gold_outset: 2px outset var(--gold);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

.main_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2.5rem;
  min-width: 320px;
  outline: var(--outline_gold_inset);
  outline-offset: 2px;
  border: var(--border_gold_outset);
  border-radius: 3px;
  background-color: var(--black);
  box-shadow: 0px 12px 32px var(--black);
}

.menu_link {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--orange);
  border-radius: 25px;
  text-align: center;
}

.menu_link:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.form_container__inner {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form_label {
  padding: 0;
}

.form_input {
  padding: 0 0.5rem;
  border-radius: 6px;
}

.game_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_user__this_user {
  position: absolute;
  top: 0px;
  right: 0px;
}

.user_bars__container {
  position: absolute;
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.user_bar {
  padding: 0.5rem 2.5rem;
  background-color: #1119;
  border-radius: 0px 6px 6px 0px;
}

.user_bar.highlight {
  background-color: var(--golden_highlight);
}

.user_bar__uid {
  font-size: 0.8em;
}

.rules_container {
  background-color: #1119;
  position: absolute;
  bottom: 3px;
  left: -10px;
  padding: 0.5rem 2.5rem;
}

.hand_container {
  display: flex;
  padding: 0 35%;
  position: absolute;
  bottom: 1rem; 
  width: 100vw;
}

.hand_container .card:not(.card:first-child) {
  transform: translate(-50%);
}

.deck_card {
  position: absolute;
  left: 50px;
  top: 50px;
  box-shadow: 4px 4px 12px black !important;
}

.card {
  display: flex;
  max-width: 240px;
  max-height: 309px;
  min-width: 240px;
  min-height: 309px;
  width: 240px;
  height: 309px;
  border-radius: 9px;
  box-shadow: 0px 3px 12px black;
  background-color: var(--black);
}

.card.rule .card_header__background {
  background-color: var(--gold);
}

.card.rule h3,
.card.rule h2 {
  color: var(--gold);
}

.card.rule hr {
  border-color: var(--gold);
}

.card.keeper .card_header__background {
  background-color: var(--light-green);
}

.card.keeper h3,
.card.keeper h2 {
  color: var(--light-green);
}

.card.keeper hr {
  border-color: var(--light-green);
}

.card.goal .card_header__background {
  background-color: var(--light-pink);
}

.card.goal h3,
.card.goal h2 {
  color: var(--light-pink);
}

.card.goal hr {
  border-color: var(--light-pink);
}

.card.action .card_header__background {
  background-color: var(--light-blue);
}

.card.action h3,
.card.action h2 {
  color: var(--light-blue);
}

.card.action hr {
  border-color: var(--light-blue);
}

.card.counter .card_header__background {
  background-color: var(--light-purple);
}

.card.counter h3, 
.card.counter h2 {
  color: var(--light-purple);
}

.card.counter hr {
  border-color: var(--light-purple);
}

.card p {
  font-size: 0.8em;
}

.popup {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 800px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -300px;;
  padding: 1rem;
  background-color: #1119;
  box-shadow: 0px 12px 32px black;
  border-radius: 6px;
  border: var(--border_gold_outset);
  outline: var(--outline_gold_inset);
}

.box_border {
  border-radius: 6px;
  border: var(--border_gold_outset);
  outline: var(--outline_gold_inset);
}

.card_container__inner_left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3rem;
}

.card_container__inner_right {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 0.25rem;
}

.card_header__background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  background-color: var(--white);
  margin: 1rem 0;
  border-radius: 3px;
}

.card_header__text {
  color: var(--black);
  transform: rotateZ(270deg);
  letter-spacing: 1px;
}

.card_hr__thick {
  border: 2px solid var(--white);
}

.card_back {
  background-color: var(--black);
  border: 5px solid white;
}

.endturn_btn {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  right: 0px;
  padding: 1rem 6rem 1rem 1rem;
  color: white;
  border-radius: 6px 0px 0px 6px;
  outline: 2px solid white;
  outline-offset: 2px;
  background-color: var(--golden_highlight);
  transition: padding 0.75s ease-in-out;
}

.endturn_btn:disabled {
  background-color: #1119;
  opacity: 50%;
  padding-right: 1rem;
  cursor: not-allowed;
}
